* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  html {
    // background-image: url(../images/plastic-pipe.jpg);
    // background-size: cover;
    background-color: white
  }

body {
  display: grid;
  grid-template-rows: 2fr 3fr;
}


.logo_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  background: rgb(0,0,255);
  font-size: 3rem;
  
}